<header>
    <h1>{{title}}</h1>
    <nav class="menu-links">
        <ul class="menu-links__general">
            <li class="menu-link__general">
                <a href="/">Weather</a>
            </li>
        </ul>
        <ul class="menu-links__endpoint">
            <li class="menu-link__endpoint">
                <a href="/about">About Endpoint</a>
            </li>
            <li class="menu-link__endpoint">
                <a href="/help">Help Endpoint</a>
            </li>
            <li class="menu-link__endpoint">
                <a href="/products">Products API</a>
            </li>
        </ul>
    </nav>
</header>