body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 650px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

button:hover,
button:active {
    background: #5d5d5d;
}

button:focus {
    outline: none;
}

/* -->Page 404 */
.page-404 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.page-404 h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background: steelblue;
    color: white;
    line-height: 16px;
}

.page-404 p {
    position: relative;
    color: steelblue;
    top: 40px;
    text-align: right;
}
/* Page 404--> */

header h1 {
    text-align: center;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 50px
}

.main-content {
    flex-grow: 1;
}

.menu-links ul {
    margin: 0 0 30px;
    padding: 0;
}

.menu-links ul li {
    display: inline-block;
}

.menu-links__general {
    display: inline-block;
}

.menu-link__general {
    padding: 0 8px;
}

.menu-link__general a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-links__endpoint {
    display: inline-block;
    width: calc(100% - 100px);
    text-align: right;
}

.menu-link__endpoint {
    padding: 0 8px;
}

.menu-link__endpoint a {
    color: brown;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.menu-link__endpoint a::before {
    content: "+";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
color: #a52a2a;
font-size: 18px;
padding-right: 0.5em;
position: absolute;
top: 15px;
left: 50%;
}

footer {
    border-top: 2px solid #333333;
    text-align: center;
}